@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-menu {

    background-image: url(../img/cafe.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    aspect-ratio: 2 / 6;

    @media(min-width: 360px) { 
        aspect-ratio: 3 / 7.7;
    } 
    @media(min-width: 400px) { 
        aspect-ratio: 4 / 8.7;
    } 
    @media(min-width: 500px) { 
        aspect-ratio: 6 / 9;
    } 
    @media(min-width: 648px) { 
        aspect-ratio: 8 / 9.7;
    } 

    @include m.tablet { 
        @include m.grid(2, v.$separacion);
        aspect-ratio: 16 / 6;
        background-size: 46%;
        background-position: bottom right;
    } 

    .texto {
        p{
            font-size: 2rem;
        }
    }
}